language: rust

rust:
  - stable
  - beta
  - nightly

cache: cargo

matrix:
  allow_failures:
    - rust: nightly

script:
  - cargo test

addons:
  apt:
    packages:
      - python3-dev
      - cython
      - gfortran
      - libblas-dev

env:
  - RUST_BACKTRACE=1
