language: python
dist: xenial

cache:
  pip: true
  cargo: true

matrix:
  include:
    - python: "3.5"
      env: FEATURES=python3
    - python: "3.6"
      env: FEATURES=python3
    - python: "3.7"
      env: FEATURES=python3
    - python: "3.8-dev"
      env: FEATURES=python3

env:
  global:
    - TRAVIS_RUST_VERSION=nightly
    - RUST_BACKTRACE=1
    - FEATURES=python3

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev
      - libiberty-dev
      - gfortran

before_install:
  - source ./ci/travis/setup.sh

install:
  - pip install setuptools-rust pytest pytest-benchmark \
             tox numpy flake8

script:
  - flake8 examples/
  - ./ci/travis/test.sh

deploy:
  - provider: script
    skip-cleanup: true
    script: ./ci/travis/deploy.sh
    on:
      branch: master
      repo: rust-numpy/rust-numpy
      python: 3.6

