language: rust

dist: trusty
sudo: false

rust:
  - stable
  - beta
  - nightly

cache: cargo

matrix:
  allow_failures:
    - rust: nightly

script:
  - cargo test -vv

addons:
  apt:
    packages:
      - python3-dev
      - cython
      - gfortran
      - libblas-dev
      - liblapack-dev
      - liblapacke-dev

env:
  - RUST_BACKTRACE=1
