[package]
name = "numpy"
version = "0.14.1"
authors = [
    "Toshiki Teramura <toshiki.teramura@gmail.com>",
    "Yuji Kanagawa <yuji.kngw.80s.revive@gmail.com>",
]
description = "Rust binding of NumPy C-API"
documentation = "https://pyo3.github.io/rust-numpy/numpy"
edition = "2018"
repository = "https://github.com/PyO3/rust-numpy"
keywords = ["numpy", "python", "binding"]
license = "BSD-2-Clause"

[dependencies]
cfg-if = "0.1"
libc = "0.2"
num-complex = ">= 0.2, <= 0.4"
num-traits = "0.2"
ndarray = ">= 0.13, < 0.16"
pyo3 = { version = "0.15", default-features = false }

[dev-dependencies]
pyo3 = { version = "0.15", features = ["auto-initialize"] }

[features]
default = []
rayon = ["ndarray/rayon"]

[workspace]
members = ["examples/*"]
